@using BlazorMovieDB.Components.Layout.PeopleSlider.Loading

<div class="flex flex-col mt-3 px-4 gap-5">
    <div class="flex flex-col gap-4">
        <div class="text-white font-bold text-2xl">Cast</div>
        <PeopleSliderLoading />
    </div>
</div> 

@code {

}
